* {
font-family: "Computer Modern Serif", serif;
font-size: 101%;
}

.navbar {
height: auto;
padding: 5px;
}

.ltx_lst_numbers_left .ltx_listingline .ltx_tag {
margin-left:-1em; width:2.5em;
text-align:right; }
