.ltx_listing {
font-size: 97%;
}

.ltx_verbatim {
margin: 1em 0em 0em 0em;
background-color: #d3f3d3;
}

.ltx_listing {
margin: 1em 0em 0em 0em;
background-color: #d3f3d3;
}

.ltx_text.ltx_lst_language_Python.ltx_lst_numbers_right.ltx_lstlisting.ltx_font_typewriter {
margin: 1em 0em 0em 0em;
background-color: #d3f3d3;
}

.navbar {
height: auto;
padding: 5px;
}

.ltx_lst_numbers_left .ltx_listingline .ltx_tag {
margin-left:-1em; width:2.5em;
text-align:right; }
