body {
    font-family: Computer Modern Serif;
    font-size: 1.05em;
}

.ltx_tag_theorem {
    font-weight: bold;
}

.ltx_page_main {
    padding: 0px;
}

.ltx_theorem_ex {
    background-color: #f4f6a9;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('./fonts/cmunrm.eot');
	src: url('./fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/cmunrm.woff') format('woff'),
		 url('./fonts/cmunrm.ttf') format('truetype'),
		 url('./fonts/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('./fonts/cmunbx.eot');
	src: url('./fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/cmunbx.woff') format('woff'),
		 url('./fonts/cmunbx.ttf') format('truetype'),
		 url('./fonts/cmunbx.svg#cmunbx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('./fonts/cmunti.eot');
	src: url('./fonts/cmunti.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/cmunti.woff') format('woff'),
		 url('./fonts/cmunti.ttf') format('truetype'),
		 url('./fonts/cmunti.svg#cmunti') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('./fonts/cmunbi.eot');
	src: url('./fonts/cmunbi.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/cmunbi.woff') format('woff'),
		 url('./fonts/cmunbi.ttf') format('truetype'),
		 url('./fonts/cmunbi.svg#cmunbi') format('svg');
	font-weight: bold;
	font-style: italic;
}