* {
font-family: "Computer Modern Serif", serif;
}

.ltx_listing * {
background-color: #d3f3d3;
}

.ltx_lst_numbers_left .ltx_listingline .ltx_tag {
margin-left: 0em;
position: relative;
}

.navbar {
height: auto;
padding: 5px;
}

