body {
    font-family: "Computer Modern Serif", serif;
}

@media (min-width: 576px) {
    body {
	font-size: larger;
    }
}

.selector-for-some-widget {
  box-sizing: content-box;
}


@media (max-width: 767.98px) {
    #generalAlert {
        max-width: 90vw;
    }
}

@media (min-width: 768px) {
    #generalAlert {
        max-width: 300rem;
    }
}
