* {
    font-family: Computer Modern Serif;
}
.selector-for-some-widget {
  box-sizing: content-box;
}

.myjumbotron .jumbotron {
    background-image: url(jumbotron2.jpg);
    background-color: black;
    background-size: contain;

    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom:0px;
}
