body {
    font-family: "Computer Modern Serif", serif;
}

.ltx_para > .ltx_p:first-child {
    text-indent:0em;
    order: 0;
    -webkit-order: 0;
    -moz-order: 0;
}

.ltx_tag_theorem {
    font-weight: bold;
}

.ltx_page_main {
    padding: 0px;
}

.ltx_graphics{
    max-width: 100%;
    height: auto;
}

.ltx_tag .ltx_tag_equation .ltx_align_right {
    padding-right: 0;
}

.ltx_theorem {
    background-color: #ffffcc;
}
.ltx_proof {
    background-color: #ffffcc;
}

.ltx_theorem_ex {
    background-color: #ffffcc;
}

.ltx_theorem_exeresol {
    background-color: #ffffcc;
}
.ltx_theorem_resol {
    background-color: #ffffcc;
}

.ltx_theorem_exer {
    background-color: #ffffcc;
}
.ltx_theorem_resp {
    background-color: #ffffcc;
}

.ltx_theorem_exr {
    background-color: #ffffcc;
}

.ltx_theorem_obs {
    background-color: #ffffcc;
}

.ltx_verbatim {
    background-color: #dbffcc;    
}
.ltx_listing {
    background-color: #dbffcc;    
}
