body {
    font-family: "Computer Modern Serif", serif;
}

.ltx_para > .ltx_p:first-child {
    text-indent:0em;
    order: 0;
    -webkit-order: 0;
    -moz-order: 0;
}

.ltx_tag_theorem {
    font-weight: bold;
}

.ltx_page_main {
    padding: 0px;
}

.ltx_graphics{
    max-width: 100%;
    height: auto;
}

.ltx_tag .ltx_tag_equation .ltx_align_right {
    padding-right: 0;
}

.ltx_theorem {
    padding: 5px;
    border: 2px solid blue;
    border-radius: 5px;
    # background-color: #ffffcc;
}

.ltx_proof {
    padding: 5px;
    border: 2px solid blue;
    border-radius: 5px;
    # background-color: #ffffcc;
}

.ltx_verbatim {
    padding: 5px;
    border: 2px solid green;
    border-radius: 5px;
    # background-color: #dbffcc;
}

.ltx_listing {
    # background-color: #dbffcc;    
    padding: 5px;
    border: 2px solid green;
    border-radius: 5px;
}
