body {
    font-family: "Computer Modern Serif", serif;
    font-size: 1.2em;
}
.selector-for-some-widget {
  box-sizing: content-box;
}

.myjumbotron .jumbotron {
    background-image: url("./pics/jumbotron2.jpg");
    /* background-color: white; */
    background-size: contain;

    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom:0px;
}

