.selector-for-some-widget {
  box-sizing: content-box;
}

.extjumbotron .jumbotron {
    background-image: url(jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-opacity: 0.65;

    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom:0px;
}

.extjumbotron p{
    text-align: right;
}

.extjumbotron .jumbotron p{
    text-align: center;
}
