# vscode
*.fdb_latexmk
*.fls
*.synctex.gz

# C/C++
a.out

# latex
*.html
*.4ct
*.4tc
*.dvi
*.idv
*.lg
*.tmp
*.xref
*.css
*.js
*.ipynb*

*.*_bck
_region_.tex

# PDF
*.pdf
!fig.pdf

# EPUB
*.epub

# HTML
html


# misc
out.txt
results*

