/* parágrafos */
.ltx_para > .ltx_p:first-child {
    text-indent: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.ltx_itemize {
    padding-left: 0em;
  }
  
  .ltx_enumerate {
    padding-left: 0em;
  }

  /* Listings */
.ltx_listing {
    display: revert;
    margin: 1ex 0em 1ex 0em;
    overflow-x: clip;
    overflow-wrap: break-word;
    text-align: left; 
    line-break: anywhere;
}
/* Listings */
.ltx_lstlisting {
    display: revert;
    margin: 1ex 0em 1ex 0em;
    overflow-x: clip;
    overflow-wrap: break-word;
    line-break: anywhere;
    text-align: left; 
    word-break: break-word;
}
.ltx_float .ltx_listing {
    margin: 0; 
    word-break: break-word;}
.ltx_lstlisting {
    min-height:1em;
    word-break: break-word;
}    
.ltx_listingline { 
  /* white-space:wrap; */
  min-height:1em;
  /* line-break: anywhere; */
  word-break: break-word; }
.ltx_lst_numbers_left .ltx_listingline .ltx_tag {
    background-color:transparent;
    margin-left:0em; 
    /* width:2.5em; */
    margin-right:0.5em;
    position: relative;
    text-align:right; }
.ltx_lst_numbers_right .ltx_listingline .ltx_tag {
    background-color:transparent;
    width:2.5em;
    position:absolute; right:3em;
    text-align:right; }
.ltx_tag_listingline {
  color: gray;
}

