/* parágrafos */
.ltx_para > .ltx_p:first-child {
    text-indent: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.ltx_itemize {
    padding-left: 0em;
  }
  
  .ltx_enumerate {
    padding-left: 0em;
  }

/* Listings */

.ltx_listing {
    margin: 1ex 0em 1ex 0em;
    overflow-x: auto;
    text-align: left; 
}

/* Listings */
.ltx_lstlisting {
    margin: 1ex 0em 1ex 0em;
    text-align: left; 
}

.ltx_float .ltx_listing {
    margin: 0; 
}

.ltx_lstlisting {
    min-height:1em;
}    

.ltx_listingline { 
  min-height:1em;
}

.ltx_lst_numbers_left .ltx_listingline .ltx_tag {
    background-color:transparent;
    margin-left:0em; 
    /* width:2.5em; */
    margin-right:0.5em;
    position: relative;
    text-align:right; 
}

.ltx_lst_numbers_right .ltx_listingline .ltx_tag {
    background-color:transparent;
    width:2.5em;
    position:absolute; right:3em;
    text-align:right; 
}

.ltx_tag_listingline {
  color: gray;
}


